@model WebReverseEngineering.Models.pessoa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>pessoa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_pessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idade_pessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idade_pessoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_pessoa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
